.title {
    margin-top: 0.2em;
    display: flex;
    gap: 20px;
}

.title h1 {
    align-items: center; /* Aligns the tags vertically with the title */
    margin-bottom: 100px;
}

#publicationsContainer {
    width: 100%;
}

.publication {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dashed;
    border-radius: 5px;
}

h3 {
    margin-bottom: 0px;
    line-height: 1.5em;
}

.publication-title {
    font-size: 1.1875em;
    font-weight: 700;
}

p {
    line-height: 1.6;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.publications-desc {
    margin-bottom: 20px;
}

.publications-desc a {
    text-decoration: none;
}

.publications-desc a:hover {
    text-decoration: underline;
}

.abstract.hidden {
    display: none;
}

.buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin: 5px 0 0 0;
}

.highlight-author {
    /* border: 1px solid var(--text-color-link-visited);
    border-radius: 5px;
    padding: 5px; */
    text-decoration: underline;
    font-weight: bold;
}