.publications h2 {
    margin: 0 0 10px;
    font-size: 22px;
}

.publications { margin-top: 0; }

.publications hr {
    border: 0;
    border-top: 1px solid var(--color-gray-20);
    margin: 16px 0;
}

.publication strong {
    font-weight: 500;
}

.publication-award {
    font-style: italic;
}
