---
permalink: /de/
language: de
isAbout: true
title: Marius Mosbach – Über mich
description: Die persönliche Webseite von Marius Mosbach. Forschung zu Sprachmodellen, maschineller Sprachverarbeitung und künstlicher Intelligenz.
---

{% include "about.njk" %}
