---js
const numberOfLatestNewsToShow = 10;
---

<div class="content-column">
	<div class="image-container">
		<img
			class="headshot"
			src="{{ './headshot.png' }}"
			alt="Image description"
		/>
		<div class="contact-links">
			<a href="mailto:marius.mosbach@mila.quebec" class="contact-link">Email</a>
			|
			<a
				href="https://scholar.google.com/citations?user=O7RwHEkAAAAJ&hl=en"
				target="_blank"
				class="contact-link"
				>Scholar</a
			>
			|
			<a
				href="https://x.com/mariusmosbach"
				target="_blank"
				class="contact-link"
				>X</a
			>
		</div>
	</div>
	<p>
		I am a <span class="highlight-role">postdoctoral researcher</span> at
		<span class="highlight-mila"> Mila - Quebec AI Institute</span>
		and a <span class="highlight-role">postdoctoral fellow</span> at
		<span class="highlight-mcgill">McGill University</span> in Montréal 🇨🇦.
		Before that, I was a postdoctoral researcher at the Language Science and
		Technology Department of
		<span class="highlight-saarland">Saarland University</span> in Saarbrücken
		🇩🇪, where I also did my PhD in Computer Science.
	</p>

	<p>
		The goal of my research is to enable reliable and controllable AI systems, particularly the Large Language Models (LLMs) that millions interact with daily. 
		LLMs require significant adaptation (also known as fine-tuning or post-training) to become specialized, safe, and aligned with specific requirements after pre-training. 
		My research program centers on building a fundamental, scientific understanding of this crucial adaptation stage. 
	</p>
	<!-- <p>
		While adaptation is ubiquitous in the current AI development pipeline, the mechanisms governing adaptation, its effects on model behavior and knowledge, and how to ensure its reliability are often poorly understood.
		My research addresses this challenge and investigates the core principles of adaptation via a rigorous, analytical approach. 
	</p> -->
	<p>
		In addition to adaptation, I am broadly interested in the interpretability of LLMs — and in particular in how to make interpretability research more actionable. 
		<!-- In our <a href="https://arxiv.org/abs/2406.12618">paper</a> "From Insights to Actions", we study the impact of interpretability and analysis research on NLP and find that, despite common concerns, this work is well-integrated into the broader field and influences how practitioners build NLP systems. I was also an organizer of the <a href="https://actionable-interpretability.github.io/">Actionable Interpretability workshop</a> at ICML 2025. -->
	</p>

	<p>
		For our work, my collaborators and I have received a
		<span class="highlight-award">Best Paper Award 🏆</span> at COLING 2022, the
		<span class="highlight-award">Best Theme Paper Award 🏆</span> at ACL 2023,
		and the <span class="highlight-award">Most Interesting Paper Award 🏆</span> at the
		BabyLM Challenge 2023.
	</p>


	<!-- <p>
		In my free time, I enjoy playing soccer ⚽️, going for long walks 🚶, and occationally
		baking 🍰.
	</p> -->
</div>

{% set newsCount = collections.news | length %} {% set latestNewsCount =
newsCount | min(numberOfLatestNewsToShow) %} {% if latestNewsCount != 0 %}

<h2 class="latest-news">Latest News</h2>
{% endif %}

<ul class="news-list fa-ul">
	{% for item in collections.news | reverse | head(-1 * numberOfLatestNewsToShow) %} {% if
	not item.data.hidden %}
	<li>
		<span class="fa-li"><i class="fa-solid fa-bullhorn"></i></span>
		<span>{{ item.templateContent | safe }}</span>
	</li>
	{% endif %} {% endfor %}
</ul>
