---js
const title = "Papers | Marius Mosbach";
const eleventyNavigation = {
	key: "Papers",
	order: 2
};
---

{%- css %}{% include "public/css/papers.css" %}{% endcss %}

<p>An always up-to-date list can be found on my <a href="https://scholar.google.com/citations?user=O7RwHEkAAAAJ&amp;hl=en">Google Scholar</a>.</p>

<div class="publications">
	{% for group in publications | publicationGroups %}
		{% if not loop.first %}<hr>{% endif %}
		<section aria-labelledby="publications-{{ group.title | lower }}">
		<h2 id="publications-{{ group.title | lower }}">{{ group.title }}</h2>
		<ul class="simple-list publication-list">
		{% for publication in group.papers %}
		<li class="publication">
			{% for author in publication.authors -%}
				{% if author == 'Marius Mosbach' %}<strong>{{ author }}</strong>{% else %}{{ author }}{% endif %}{% if not loop.last %}, {% else %}.{% endif %}
			{%- endfor %}
			<a href="{{ publication.url }}">{{ publication.title }}</a>.
			<span class="meta-label publication-venue">{{ publication.conference }} {{ publication.year }}</span>.
			{% if publication.award and publication.award != 'None' %}
				<span class="publication-award">{{ publication.award }}.</span>
			{% endif %}
			{% if publication.code and publication.code != 'None' %}
				<a href="{{ publication.code }}">[Code]</a>
			{% endif %}
			{% if publication.blogpost and publication.blogpost != 'None' %}
				<a href="{{ publication.blogpost }}">[Blog]</a>
			{% endif %}
		</li>
		{% endfor %}
		</ul>
		</section>
	{% endfor %}
</div>
