---js
const title = "Talks | Marius Mosbach";
const eleventyNavigation = {
	key: "Talks",
	order: 3
};
---

{%- css %}{% include "public/css/talks.css" %}{% endcss %}

<ul class="simple-list talks-list">
	{% for talk in talks %}
	<li>
		<strong class="talk-date">{{ talk.date }}</strong>:
		{{ talk.title }}{% if not (talk.title.endsWith(".") or talk.title.endsWith("?") or talk.title.endsWith("!")) %}.{% endif %}
		{% if talk.link and talk.link != "None" %}
			<a href="{{ talk.link }}">{{ talk.location }}</a>.
		{% else %}
			{{ talk.location }}.
		{% endif %}
		<span class="meta-label talk-type">{{ talk.type }}</span>
		{% if talk.slides and talk.slides != "None" %}
			<a href="{{ talk.slides }}">[Slides]</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>
