---js
const title = "Teaching | Marius Mosbach";
const eleventyNavigation = {
	key: "Teaching",
	order: 4
};
---

<ul class="simple-list teaching-list">
	<li>
		<strong>WS2026/2027</strong>:
		Continually Learning Agents
		<span class="meta-label teaching-type">Seminar</span>
	</li>
	<li>
		<strong>Fall Semester 2025</strong>:
		<a href="https://mcgill-nlp.github.io/teaching/comp545-ling545-F25/" target="_blank" rel="noopener noreferrer">COMP 545: Natural Language Understanding with Deep Learning</a> <span class="meta-label teaching-type">Lecture</span>
	</li>
	<li>
		<strong>Spring Semester 2025</strong>:
		<a href="https://github.com/evaportelance/HEC-NLP" target="_blank" rel="noopener noreferrer">MATH 60621A: Natural Language Processing</a> <span class="meta-label teaching-type">Lecture</span>
	</li>
</ul>
