	<p>
		I am an Associate Professor in the
		<a href="https://www.uni-saarland.de/en/department/lst.html">Department of Language Science and Technology</a>
		at <a href="https://www.uni-saarland.de/en/home.html">Saarland University</a>
		and a Scientific Director at the <a href="https://www.dfki.de/en/web">German Research Center for Artificial Intelligence (DFKI)</a>.
		Previously, I was a postdoctoral researcher
		at <a href="https://mila.quebec/en">Mila – Quebec AI Institute</a> and <a href="https://www.mcgill.ca/">McGill University</a> in Montréal.
		I obtained my PhD in <a href="https://saarland-informatics-campus.de/en/">Computer Science</a> from <a href="https://www.uni-saarland.de/en/home.html">Saarland University</a>
		in Saarbrücken. I am a member of <a href="https://ellis.eu/">ELLIS.</a>
	</p>
	<p>
		My research is in the field of Natural Language Processing and Artificial Intelligence. I work on
		understanding the capabilities, limitations, and  inner workings of large language models (LLMs).
		I am particularly interested in model adaptation. This includes developing interpretability methods to study how models change as a result of adaptation, LLM unlearning,
		and continual learning.
	</p>
