<p>
	Ich bin Professor in der
	<a href="https://www.uni-saarland.de/en/department/lst.html">Fachrichtung Sprachwissenschaft und Sprachtechnologie</a>
	an der <a href="https://saarland-informatics-campus.de/en/">Universität des Saarlandes</a>,
	Wissenschaftlicher Direktor am <a href="https://www.dfki.de/en/web">Deutschen Forschungszentrum für Künstliche Intelligenz (DFKI)</a>
	und Mitglied von <a href="https://ellis.eu/">ELLIS</a>.
	Zuvor war ich Postdoktorand am <a href="https://mila.quebec/en">Mila – Quebec AI Institute</a>
	und der <a href="https://www.mcgill.ca/">McGill University</a> in Montréal.
	Ich promovierte in Informatik an der <a href="https://saarland-informatics-campus.de/en/">Universität des Saarlandes</a>.
</p>
<p>
	Ich forsche zu maschineller Sprachverarbeitung und künstlicher Intelligenz, insbesondere zu Fähigkeiten,
	Grenzen und Funktionsweise großer Sprachmodelle (LLMs). Mein Schwerpunkt ist die Anpassung von Modellen:
	Ich entwickle Interpretierbarkeitsmethoden, um die dabei entstehenden Veränderungen zu untersuchen,
	und beschäftige mich mit gezieltem Vergessen (LLM Unlearning) und kontinuierlichem Lernen (Continual Learning).
</p>
