---
layout: layouts/base.njk
---

<!-- This box will be displayed on all sites. Comment to remove -->

<!-- {%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	<p>
		I'm on the academic job market! If you think I would be a good fit for your
		department, feel free to reach out!
	</p>
</div> -->

{{ content | safe }}
